<!--
Ruby RSG Webapp Assignment
#WEIWEI SU
#U17420699
#rsg_sinatra.rb
-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ruby RSG Demo</title>
</head>
<body>

<h1>Ruby RSG Demo</h1>
<form action="/" method="POST">
  Enter Grammar file Name:
  <br>
  <input type="text" name="fileName"><br/>
  <br>
  <input type="submit"><br/>

  <p>
    <%= @Output %>
  </p>

  <p>
    <br>App Created by WEIWEI SU. 2017<br/>
    <br>University of South Florida<br/>
  </p>
</form>

</body>
</html>